@import url("https://fonts.googleapis.com/css?family=Lato:regular,700italic&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lora:regular,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
  color: #9a9a9a;
}

.btn {
  height: 43px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 24px;
  color: #ffffff;
  background: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.btn_white {
  color: #ff5722;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

._container {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px 0px 15px;
}

.title {
  font-family: Lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 127.5%;
  color: #10375c;
}

._title-white {
  color: #fff;
}

.line {
  position: relative;
}

.line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 115%;
  width: 73px;
  height: 2px;
  background-color: #222831;
}

.line-white::after {
  content: "";
  background-color: #fff;
}

.header {
  font-weight: 700;
  padding: 61px 0px 0px 0px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  padding: 0px 24px 0px 0px;
}

.header__logo:hover {
  -webkit-filter: drop-shadow(5px 2px 1px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 2px 1px rgba(0, 0, 0, 0.3));
}

.header__menu {
  padding: 0px 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 175%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list a {
  color: #222831;
}

.header__list a:hover {
  color: #7c8491;
}

.header__list li {
  padding: 0px 40px 0px 0px;
}

.header__list li:last-child {
  padding: 0px 0px 0px 0px;
}

.header__auth {
  position: relative;
  z-index: 5;
  line-height: 118.75%;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.auth__log-in:hover {
  color: #e9410e;
}

.auth__sing-up:hover {
  background-color: #e9410e;
  -webkit-box-shadow: 0px 4px 16px #e9410ebe;
          box-shadow: 0px 4px 16px #e9410ebe;
}

.icon-menu {
  display: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.our-spaces__container {
  margin: 112px 0px 0px 0px;
}

.our-spaces__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-spaces__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-spaces__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.our-spaces__item:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.our-spaces__item:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 175px;
          flex: 0 0 175px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.our-spaces__arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 168px;
          flex: 0 0 168px;
  height: 26px;
}

.our-spaces__arrow a:hover {
  -webkit-filter: drop-shadow(5px 2px 2px rgba(0, 0, 0, 0.473));
          filter: drop-shadow(5px 2px 2px rgba(0, 0, 0, 0.473));
}

.our-spaces__arrow .arrow-short {
  width: 53px;
  height: 100%;
}

.our-spaces__arrow .arrow-short::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 53px;
  height: 26px;
  background: url("../img/arrow_s.svg") left top/cover no-repeat;
}

.our-spaces__arrow .arrow-long {
  width: 91px;
  height: 100%;
}

.our-spaces__arrow .arrow-long::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 91px;
  height: 26px;
  background: url("../img/arrow_l.svg") right top/91px 26px no-repeat;
}

.cards {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cards__container {
  margin: 59px 0px 0px 0px;
}

.cards__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.cards__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 31.53153%;
          flex: 1 1 31.53153%;
  padding: 0px 15px;
}

.cards__column img {
  width: 100%;
}

.cards__item {
  position: relative;
}

.cards__item .cards-item-button {
  width: 72px;
  height: 72px;
  background: #ff5722;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.cards__item .cards-item-button:hover {
  background-color: #da3a0a;
}

.cards__item .cards-item-button::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../img/check-mark.svg") no-repeat;
}

.cards__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #222831;
}

.cards ._text-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 57px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.private-space {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
}

.private-space__container {
  height: 100%;
  background: #10375c;
  position: relative;
}

.private-space__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  padding: 0px 49px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.private-space__column {
  text-align: center;
}

.private-space__title {
  margin: 0px 0px 14px 0px;
  font-family: Lora;
  font-size: 32px;
  line-height: 128.125%;
  color: #ffffff;
}

.private-space__text {
  font-size: 18px;
  line-height: 155.55556%;
  color: #ffffff;
  text-align: center;
}

.private-space__button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 255px;
  height: 72px;
  font-weight: 700;
  background-color: #ff5722;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.private-space__button:hover {
  background-color: #da3a0a;
}

.private-space__button span {
  position: relative;
  margin: 0px 0px 0px 54px;
  font-size: 18px;
  line-height: 22px;
}

.private-space__button span::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 118%;
  width: 32px;
  height: 32px;
  background: url("../img/check-mark.svg") no-repeat;
}

.page ._space-work-column-title {
  font-family: Lora;
  font-size: 32px;
  line-height: 128.125%;
  color: #10375c;
}

.space-work__container {
  margin: 112px 0px 0px 0px;
}

.space-work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-work__column:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.space-work__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.space-work__column:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.space-work-column__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 26px 0px 64px 0px;
}

.space-work-column__column:last-child {
  margin: 0px 0px 0px 0px;
}

.space-work-column__title {
  margin: 0px 0px 8px 0px;
}

.space-work-column ._space-work-image {
  margin: 0px 24px 0px 0px;
}

.frispes-why {
  color: #ffffff;
}

.frispes-why__container {
  padding: 54px;
}

.frispes-why__line {
  margin: 0px 0px 8px 0px;
  display: inline-block;
}

.frispes-why__title {
  margin: 0px 0px 24px 0px;
}

.frispes-why__text {
  font-size: 20px;
  line-height: 150%;
}

._space-work-frispes-why {
  background-color: #10375c;
}

.facilities-our__container {
  margin: 112px 0px 0px 0px;
}

.facilities-our__line {
  display: inline-block;
  font-size: 20px;
  line-height: 150%;
  color: #222831;
  margin: 0px 0px 8px 0px;
}

.facilities-our__title {
  max-width: 51.35135%;
  margin: 0px 0px 56px 0px;
}

.facilities-our__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.facilities-our__column:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.3964%;
          flex: 0 1 26.3964%;
}

.facilities-our__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 729px;
          flex: 0 1 729px;
}

.facilities-our__image {
  height: 453px;
}

.facilities-our__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.facilities-list {
  height: 100%;
}

.facilities-list ul {
  margin: 0px 0px 0px 40px;
}

.facilities-list a {
  display: block;
  padding: 24px 0px 24px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #222831;
  max-width: 293px;
  height: 72px;
}

.facilities-list a:hover {
  background: #ff5722;
  color: #ffffff;
}

.center-help__container {
  margin: 112px 0px 0px 0px;
  text-align: center;
}

.center-help__title {
  display: inline-block;
  max-width: 578px;
  text-align: center;
}

.quastions-help {
  margin: 51px 0px 100px 0px;
}

.quastions-help__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.quastions-help__column {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  height: 171px;
  margin: 0px 15px;
  padding: 48px;
  -webkit-box-shadow: 0px 0px 30px 1px rgba(120, 119, 119, 0.36);
          box-shadow: 0px 0px 30px 1px rgba(120, 119, 119, 0.36);
}

.quastions-help__column:nth-child(2) {
  background-color: #ff5722;
}

.quastions-help__text {
  font-family: Lora;
  font-size: 26px;
  line-height: 126.92308%;
  text-align: center;
  color: #000000;
}

.quastions-help__button {
  position: absolute;
  top: 85%;
  left: 40.85714%;
  width: 64px;
  height: 48px;
}

.quastions-help ._button-oringe {
  background: #ff5722 url("../img/quastion/arrow-white.svg") center/32px no-repeat;
}

.quastions-help ._button-oringe:hover {
  background: #fff url("../img/quastion/arrow-oringe.svg") center/32px no-repeat;
  -webkit-box-shadow: 0px 0px 30px 1px #7327105a;
          box-shadow: 0px 0px 30px 1px #7327105a;
  cursor: pointer;
}

.quastions-help ._button-white {
  -webkit-box-shadow: 0px 0px 30px 1px #7327105a;
          box-shadow: 0px 0px 30px 1px #7327105a;
  background: #fff url("../img/quastion/arrow-oringe.svg") center/32px no-repeat;
}

.quastions-help ._button-white:hover {
  background: #ff5722 url("../img/quastion/arrow-white.svg") center/32px no-repeat;
  -webkit-box-shadow: 0px 0px 30px 1px #7327105a;
          box-shadow: 0px 0px 30px 1px #7327105a;
  cursor: pointer;
}

.quastions-help ._text-white {
  color: #fff;
}

@media (max-width: 1090px) {
  .facilities-our__column:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff00;
  }

  .facilities-list {
    height: 360px;
    background-color: #ffffff55;
  }

  .facilities-list ul {
    margin: 0px 0px 0px 0px;
  }

  .facilities-list a {
    padding: 0 20px;
    line-height: 350%;
  }
}

@media (max-width: 1055px) {
  .quastions-help__items {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .quastions-help__column {
    width: 350px;
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 920px) {
  .header__list li {
    padding: 0px 15px 0px 0px;
  }

  .our-spaces__column {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .our-spaces__item:nth-child(3) {
    display: none;
  }

  .our-spaces__text {
    text-align: justify;
  }

  .cards__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cards__column {
    width: 350px;
    height: 468px;
    margin: 30px 0px 0px 0px;
  }

  .cards__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .cards__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .cards__column:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .space-work__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .space-work__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .space-work__column:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .space-work__column:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 20px 0px;
  }

  .space-work-column__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .space-work-column__column {
    margin: 30px 30px 0px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 205px;
            flex: 0 1 205px;
  }

  .space-work-column__column:last-child {
    margin: 30px 0px 0px 0px;
  }
}

@media (max-width: 800px) {
  .frispes-why__text {
    display: none;
  }
}

@media (max-width: 790px) {
  .header {
    padding: 0px;
  }

  .header__container {
    padding: 15px 15px;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0px 10px 0px 0px;
  }

  .header__menu-body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 80px 10px 20px 10px;
  }

  .header__menu-body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 72px;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
  }

  .header__menu {
    display: none;
  }

  .header__list li {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }

  .header__list {
    display: block;
    font-size: 24px;
  }

  .auth a {
    padding: 0px 15px;
  }

  .auth {
    padding: 0px 15px 0px 0px;
  }

  .icon-menu {
    display: block;
    position: relative;
    font-weight: 700;
    height: 18px;
    width: 30px;
  }

  .icon-menu span {
    width: 100%;
    height: 10%;
    position: absolute;
    background-color: rgba(78, 77, 77, 0.877);
    top: 50%;
    margin: -5% 0px 0px 0px;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .our-spaces__container {
    margin: 40px 0px 0px 0px;
  }
}

@media (max-width: 790px) and (max-width: 430px) {
  .icon-menu {
    display: none;
  }
}

@media (max-width: 705px) {
  .space-work-column__text {
    display: none;
  }
}

@media (max-width: 600px) {
  .facilities-our__title {
    display: none;
  }

  .facilities-our__column:nth-child(1) {
    position: static;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .facilities-our__column:nth-child(2) {
    display: none;
  }
}

@media (max-width: 560px) {
  .our-spaces__item:nth-child(2) {
    display: none;
  }

  .cards__container {
    margin: 15px 0px 0px 0px;
  }
}

@media (max-width: 500px) {
  .space-work__column:nth-child(1) {
    display: none;
  }

  .space-work__column:nth-child(2) {
    display: none;
  }
}

@media (max-width: 430px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .auth {
    padding: 0px 0px 0px 0px;
  }

  .our-spaces {
    display: none;
  }

  .space-work__container {
    display: none;
  }

  .facilities-our__container {
    display: none;
  }

  .center-help__container {
    display: none;
  }
}